.ui .cards {
  display: flex;
  justify-content: center;
}

.container {
  box-shadow: none;
  margin-top: 1em;
}

.panel-message {
  display: flex;
  justify-content: center;
}

/* .yu-news-panel {
  height: 100vh;
} */