# ignore node_modules
node_modules/

# ignore all configure
config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore all picture
*.png
assets/

# testing
coverage/

# production
build/

# model-learning
learn_jupyter/

# ignore IDE setting
.vscode/

# ignore server config
server_config.ini