.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid gray;
    border-color: gray transparent gray transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spiner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.875em 0.5em;
  }

  .full {
    min-height: 100vh;
  }
  
  .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100vh;
  }

  .content {
    font-size: x-large;
  }